<!DOCTYPE html>
<html lang="en" ng-app="quoteBook">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Title</title>
</head>
<body ng-controller="mainControl">
<main>
    <div ng-repeat="quote in quotes | filter:filt">{{quote.text}} - {{quote.author}}</div>
    <br>
    <input type="text" placeholder="Quote Text" ng-model="textInput">
    <input type="text" placeholder="Quote Author" ng-model="authorInput">
    <br>
    <button ng-click="addData()">Add Quote</button>
    <button ng-click="removeData()">Remove Quote</button>
    <button ng-click="filterData()">Filter Quotes</button>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/mainCtrl.js"></script>
<script src="js/dataService.js"></script>
</body>
</html>