html{
    box-sizing: border-box
}
*, *:before, *:after{
    box-sizing: inherit;
}

main{
    width: 1200px;
    height: 1200px;
}

.one{
    background: #D7D7D7;
    height:12.5%;
    width: 100%;
}

.content-holder{
    background: #FDFDFE;
    height:37.5%;
    width: 100%;
}

.content{
    margin: 10%;
    font-size: 40px;
}
.two{
    background: #4A8FE1;
    height:12.5%;
    width: 100%;
}

.three{
    background: #50E2C1;
    height:12.5%;
    width: 100%;
}

.four{
    background: #B7E885;
    height:12.5%;
    width: 100%;
}

.five{
    background: #F7E61C;
    height:12.5%;
    width: 100%;
}

.box{
    background: #4A8FE1;
    margin: 1.25%;
    width: 10%;
    padding-bottom: 10%;
    display: inline-block;
}