<!DOCTYPE html>
<html lang="en" ng-app="russianRoulette">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="mainCtrl">

<main>
    <button ng-click="newGame()">New Game</button>
    <button ng-click="pullTrigger()">Pull Trigger</button>
    <br>
    <div>Number of times trigger pulled: {{game.currentChamber}}</div>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.4/angularfire.js"></script>
<script src="appDemo.js"></script>
</body>
</html>